<%= link_to "Nuevo Artículo", new_article_path %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr id="article-<%= article.id %>">
        <td><%= article.title %></td>
        <td><%= link_to "Eliminar", article, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
